header {
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/1-bottlenose-dolphin-jumping-martin-ruegner.jpg);
    color:#244c0b;
    font-size: xx-large;
    text-align: center;
    background-position: center top;
    background-size: cover;
    line-height: 4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 50em;
}

header a {

    border: 2px solid gray;
    border-radius: 2em;
    font-size:0.8em;
    padding: 1em 1em;
    color:rgb(16, 16, 80);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;

}

body {
    font-size: medium;
    text-indent: 1cm;
    max-width: 50em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 1cm;
    margin: 0 auto;
    margin-bottom: 5em;
}

main {

    margin-top: 5em;
    margin-bottom: 5em;
}


h2, h3, h4 {
    text-align: center;
    font-size:3em;
}

h5 {
    text-align: center;
    font-size: 1em;
}


footer {

    font-size: 0.7em;
}

