header {

    color:#318000;
    font-size:xx-large;
    text-align: center;
    background-color: #b5ecf6;
    

}

section {
    font-size: medium;
    text-indent: 1cm;
}

footer {
    text-indent: 1cm;
}




